.texto-header {
    text-align : center;
    }
    
    .contenedor {
     display: flex;
     padding: 25px;
     margin: 10px;
     gap:15px;
     margin: center;
     position : center  

    }
    
    .fondo 
    {  background-image: url('https://static.vecteezy.com/system/resources/previews/003/335/840/non_2x/white-background-and-wallpaper-by-crumpled-paper-texture-free-photo.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
    
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        color: black ;
        text-align: center;
        border: 1px solid #000000;
    }

    .label 
    {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .boton
    {
        width: 10%;
        background-color: #4CAF50;
        padding: 14px 20px;
        margin: 8px 0;
        border: 1px solid #000000;
        border-radius: 10px;
        cursor: pointer;

    }

    .lista_tareas{

            list-style: none;
            padding: 0;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
    }
